:root {
    --tag-color: hsl(0, 100%, 66%, 0.5);
    --tag-border: rgb(0, 0, 0);
    --tag-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
}
.tagsContainer {
    position: relative;
    text-align: center;
    width: fit-content;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.tag {
    position: relative;
    width: fit-content;
    background-color: var(--tag-color);
    border: 1px solid var(--tag-border);
    box-shadow: var(--tag-shadow);
    border-radius: 2px;
}

.tag p {
    padding-right: 1rem;
    padding-left: 0.5rem;
}
.tag button {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.tag button svg {
    aspect-ratio: 1/1;
}
.autoComplete {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(133, 56, 56);
    z-index: 100000;
}
.autoComplete p {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.305);
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}
