@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-family: "Poppins", "Segoe UI", sans-serif;
    overflow-x: hidden;
}
.spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 5px solid rgb(150, 0, 0);
    box-shadow: 0 0 15px 2px rgb(150, 0, 0);
    border-radius: 10px;
    animation: spin 2s infinite ease-in-out;
}
@keyframes spin {
    0% {
        border-color: rgb(150, 0, 0);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        box-shadow: 0 0 15px 2px rgb(150, 0, 0);
    }
    33% {
        border-color: rgb(0, 0, 186);
        transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
        box-shadow: 0 0 15px 2px rgb(0, 0, 186);
    }
    66% {
        border-color: rgb(0, 195, 0);
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
        box-shadow: 0 0 15px 2px rgb(0, 195, 0);
    }
    100% {
        border-color: rgb(150, 0, 0);
        transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
        box-shadow: 0 0 15px 2px rgb(150, 0, 0);
        /* transform: rotateX(180deg); */
    }
}
